@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
*{
  box-sizing: border-box;
}
a {
  color: #296e6b;
  text-decoration: none;	
}

a:hover {
  color: #94c0c2;	
}

a:visited {
  color: #69a4a2;
}

a:visited:hover {
  color: #94c0c2;
}

.error {
	text-align: center;
	color: red;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#2b4a4a;
  background-color:#dae4e5;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #2b4a4a;
}
h1 a {
	color: #2b4a4a;
}
h1 a:hover {
	color: #2b4a4a;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #2b4a4a;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #2b4a4a;
  text-decoration: none;
}

h3 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #2b4a4a;
}
.container th h5 {
  font-weight: bold;
  font-size: 1em; 
  text-align: left;
  color: #2b4a4a;
}
h5 a {
	color: #2b4a4a;
}
h5 a:hover {
	color: #185875;
}
.blue { color: #185875; }
.yellow { color: #FFF842; }
.red { color: #FF0000; }


.container td {
	  min-width: 50px;
	  font-weight: normal;
	  font-size: 1em;
	  overflow:hidden;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
  /*-webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;*/
}
tbody tr td {
  height: 45px;
  max-width: 200px;
}
tbody tr td a {
  padding: 10px 20px 10px 20px;
  color: #2b4a4a;
  cursor: pointer;
  display: block;
  text-align: center;
}

tbody tr td a:hover {
  color: #2b4a4a;
}
.container td a {
	  color: #2b4a4a;
}

.container td a:hover {
	  color: #2b4a4a;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td {
	padding-bottom: 1%;
	padding-top: 1%;
	padding-left: 1%;
}

.container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #94c0c2;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #69a4a2;
}

.container th {
	  background-color: #dae4e5;
}

.container td:first-child { color: #2b4a4a; }

.container tr:hover {
   background-color: #296e6b;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(0, 0, 255, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(0, 0, 255, 0.75);
  }
}
.hvr-back-pulse {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #00ffff;
  background-color: #00ffff;
  color: white;
}
.container td:hover, .container td:focus, .container td:active {
  background-color: #dae4e5;
  color: #2b4a4a;
  box-shadow: #94c0c2 -1px 1px, #94c0c2 -2px 2px, #94c0c2 -1px 1px, #94c0c2 -2px 2px, #94c0c2 -3px 3px, #94c0c2 -2px 2px;
  transform: translate3d(2px, -2px, 0);
  z-index: 2;
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
  /*-webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #00ffff;
  color: white;*/
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

.search__block{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.menu ul {
  font-family: 'Open Sans', sans-serif;
  position: top;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #69a4a2;
}

.menu li {
  hover: #FFF842;
  float: left;
}

.menu li a {
  display: block;
  color: #dae4e5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #dae4e5;
  color: #2b4a4a;
}

.active {
  /*background-color: #4CAF50;*/
  background-color: #94c0c2;
  color: #FFF842;
}

/*input[type=submit] {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #000000;
  border: none;
  border-radius: 5px;
}
input[type=submit]:hover {
  background: #FF0000;
}
input[type=text] {
  padding:5px;
  border:2px solid #185875;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #1F2739;
  color: #FB667A;
}
input[type=text]:focus {
  color: #FFFFFF;
  border-color:#888;
  background-color: #1F2739;
  color: #FB667A;
}
input[type=password] {
  padding:5px;
  border:2px solid #185875;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #1F2739;
  color: #FB667A;
}
input[type=password]:focus {
  border-color:#888;
  background-color: #1F2739;
}
input[type=checkbox] {
  padding:5px;
  border:2px solid #185875;
  border-radius: 5px;
}
input[type=checkbox]:focus {
  border-color:#888;
}
input[type=number] {
  padding:5px;
  border:2px solid #185875;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #1F2739;
  color: #FB667A;
}
input[type=number]:focus {
  border-color:#888;
  background-color: #1F2739;
}
input[type=date] {
  padding:5px;
  border:2px solid #185875;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #FB667A;
}
input[type=date]:focus {
  border-color:#888;
}
textarea {
  padding:5px;
  border:2px solid #185875;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #FB667A;
  }
textarea:focus {
  border-color:#888;
  }
select {
  padding:5px;
  border:2px solid #185875;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #1F2739;
  color: #FB667A;
}
select:focus {
  color: #FFFFFF;
  border-color:#888;
  background-color: #1F2739;
  color: #FB667A;
}
checkbox {
  padding:5px;
  border:2px solid #185875;
  border-radius: 5px;
}*/


.form-login{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #94c0c2;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-login h2{
	background: #94c0c2;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #dae4e5;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-login input[type="text"],
.form-login input[type="date"],
.form-login input[type="datetime"],
.form-login input[type="email"],
.form-login input[type="number"],
.form-login input[type="search"],
.form-login input[type="time"],
.form-login input[type="url"],
.form-login input[type="password"],
.form-login textarea,
.form-login select 
{
	color: #dae4e5;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #dae4e5;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-login textarea{
	resize:none;
	overflow: hidden;
}
.form-login input[type="button"],
.form-login input[type="submit"]{
	margin-left: auto;
	margin-right: auto;
	width: 6em;
	background-color: #296e6b;
	border: 1px solid #296e6b;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-login .button-wrapper {
	
}
.form-login .button-center {
	display: inline-block;
	position: relative;
	margin: 0 auto;
}
.form-login input[type="button"]:hover, 
.form-login input[type="submit"]:hover {
	background:linear-gradient(to bottom, #69a4a2 5%, #94c0c2 100%);
	background-color:#34CACA;
}

.form-cu{
	font-family: 'Open Sans', sans-serif;
	color:#dae4e5;
	width: 800px;
	padding: 30px;
	background: #69a4a2;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-cu h2{
	background: #2b4a4a;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #dae4e5;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-cu input[type="text"],
.form-cu input[type="date"],
.form-cu input[type="datetime"],
.form-cu input[type="email"],
.form-cu input[type="number"],
.form-cu input[type="search"],
.form-cu input[type="time"],
.form-cu input[type="url"],
.form-cu input[type="password"],
.form-cu textarea,
.form-cu select 
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #dae4e5;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #dae4e5;
	background: transparent;
	margin-bottom: 10px;
	height: 45px;
}
.form-cu textarea{
	resize:none;
	overflow: hidden;
}
.form-cu input[type="button"],
.form-cu input[type="submit"]{
	margin-left: 0 auto;
	margin-right: auto;
	margin-top: 30px;
	width: 6em;
	background-color: #296e6b;
	border: 1px solid #296e6b;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-cu .button-wrapper {
	
}
.form-cu .button-center {
	display: block;
	margin: 0 auto;
}
.form-cu input[type="button"]:hover, 
.form-cu input[type="submit"]:hover {
	background:linear-gradient(to bottom, #69a4a2 5%, #94c0c2 100%);
	background-color:#34CACA;
}
 .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
	font-family: 'Open Sans Condensed', sans-serif;
    max-width: 100%;
    font-size: 1rem;
    /* 20px */
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}
.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #296e6b;
	border: 1px solid #296e6b;
	text-transform: uppercase;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
	background:linear-gradient(to bottom, #69a4a2 5%, #94c0c2 100%);
	background-color:#34CACA;
}

.search {
  overflow: hidden;
  color: #dae4e5;
  background-color: #69a4a2;
}

.search a {
  color: #dae4e5;
  padding: 3px 10px;
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  font-size: 17px;
  border-width: 2px;
  background-color: #69a4a2;
}

.search a:hover {
  background: #69a4a2;
}

.search a.active {
  background-color: #69a4a2;
  color: #dae4e5;
}

.search .search-container {
  float: left;
}

.search input[type=text] {
  float: right;
  color: #2b4a4a;
  padding: 6px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 17px;
  border: none;
  background-color: #dae4e5;
}

.search input[type=text]::placeholder {
  color: #69a4a2;
}

.search input[type=text]:hover {
  background-color: #dae4e5;
}

.search button {
  float: right;
  padding: 6px 10px;
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  color: #dae4e5;
  background: #69a4a2;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search button:hover {
  background: #dae4e5;
  color:#2b4a4a;
}

.search ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 3%;
  list-style-type: none;
  margin: 0;
  /*font-family: "Open Sans", sans-serif;
  width: 100%;
  
  height: 100%;
  overflow: hidden;
  background-color: #508593;*/
}
.search li {
  height: 100%;
}
.link__block a{
  color: #dae4e5;
  flex-direction: row;
  height: 100%;
  text-align: center;
  padding: 4px 10px;
  text-decoration: none;
}


/*.search li a {
  display: block;
  color: #FB667A;
  text-align: center;
  padding: 4px 10px;
  text-decoration: none;
}*/

.search li a:hover {
  background-color: #dae4e5;
  color: #2b4a4a;
}

@media screen and (max-width: 600px) {
  .search .search-container {
    float: none;
  }
  .search a, .search input[type=text], .search .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}
